{% extends 'forum.html' %}

{% block content %}
  <h1>{{ thread.title }}</h1>
  <p>Created by: {{ thread.created_by.username }}</p>
  <p>Created at: {{ thread.created_at }}</p>
  
  <h2>Posts</h2>
  <ul>
    {% for post in posts %}
      <li>
        <p>Author: {{ post.author.username }}</p>
        <p>Posted at: {{ post.created_at }}</p>
        <p>{{ post.content }}</p>
      </li>
    {% endfor %}
  </ul>
  
  <h2>Reply to Thread</h2>
  <form method="post" action="{% url 'reply_to_thread' thread.id %}">
    {% csrf_token %}
    <label for="content">Content:</label>
    <textarea id="content" name="content" required></textarea><br>
    <input type="submit" value="Reply">
  </form>
  
  <a href="{% url 'forum' %}">Back to Forum</a>
{% endblock %}
