/* CSS for styling the login form */
body {
    font-family: Arial, sans-serif;
    background-color: #fff6ef;
    overflow-x: hidden;
    }
    
    .login-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }
    
    .login-container h2 {
    text-align: center;
    }
    
    .login-container input[type="text"],
    .login-container input[type="password"],
    .login-container input[type="date"],
    .login-container input[type="email"],
    .login-container input[type="number"],
    .login-container textarea {
    width: 92%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
    }
    
    .button-24 {
        background: #FF4742;
        border: 1px solid #FF4742;
        border-radius: 6px;
        box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
        box-sizing: border-box;
        color: #FFFFFF;
        cursor: pointer;
        display: inline-block;
        font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
        font-size: 16px;
        font-weight: 800;
        line-height: 16px;
        min-height: 40px;
        outline: 0;
        padding: 12px 14px;
        text-align: center;
        text-rendering: geometricprecision;
        text-transform: none;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        vertical-align: middle;
    }

    .button-24:hover,
    .button-24:active {
        background-color: initial;
        background-position: 0 0;
        color: #FF4742;
        }

    .button-24:active {
        opacity: .5;
        }
   
    .login-container input[type="submit"] {
    width: 100%;
    background-color: #218625;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 125px;
    cursor: pointer;
    }
    
    .login-container input[type="submit"]:hover {
    background-color: #45a049;
    }