body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    }
    
    .reg-container {
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }
    
    .reg-container h2 {
    text-align: center;
    }
    
    .reg-container input[type="text"],
    .reg-container input[type="password"] {
    width: 92%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
    }
   
    .reg-container input[type="submit"] {
    width: 100%;
    background-color: #218625;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 125px;
    cursor: pointer;
    }
    
    .reg-container input[type="submit"]:hover {
    background-color: #45a049;
    }