<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pragsha: {% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link href="{% static 'favicon.ico' %}" rel="icon">
</head>
<body>
    <div class="container">
        <div class="header" align="center" height="300">
            {% load static %}
            <img src="{% static 'logo.jpeg' %}" alt="Pragsha" width="350">
        </div>
        <hr>
        <div class="content">
            {% block main %}{% endblock %}
        </div>
        <div class="footer" align="center">
            <p>Pragsha &copy; 2023</p>
        </div>
    </div>
</html>